body {
  background-color: silver;
}

#root {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  min-width: 75%;
}

#dropdown-container {
  background-color: grey;
}

#cv-container {
  background-color: white;
}
