* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: silver;
  place-items: center;
}

#root {
  display: grid;
  grid-template-columns: minmax(400px, 600px) auto;
  min-width: 75%;
  height: 100vh;
  margin: auto;
  padding: 100px;
  gap: 20px;
  overflow: hidden;
}
