#page-container {
  width: 8.5in;
  height: 11in;
  padding: 0.5in;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 12pt;
  font-family: 'Garamond', serif;
}

.cv-header {
  margin-bottom: 20px;
  text-align: center;

  &__full-name {
    margin: 10px 0;
    font-size: 28pt;
  }

  &__contact-info {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 20px;

    .email,
    .phone,
    .location {
      margin: 5px 0;
      font-size: 12pt;
    }
  }
}

.cv-section {
  &__header {
    margin-top: 1em;
    border-bottom: 3px double black;
    font-size: 14pt;
  }

  &__entry {
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0.5em;

    .main-info,
    .location-and-dates {
      display: flex;
      flex-direction: column;
    }

    .school-name,
    .company-name,
    .location {
      margin-bottom: 0.1em;
      font-weight: bold;
    }

    .location,
    .dates {
      display: flex;
      justify-content: end;
      gap: 0.5em;
    }
  }
}
