#dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#title {
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: 3em;
  margin: 0 0 0.5rem;
  color: #333333;
}

.dropdown-module {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  border-radius: 10px;
  background-color: grey;
  color: white;
}

.dropdown-header h2 svg {
  margin-right: 0.5em;
}

.dropdown-header button {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  color: white;
}

button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.section-container {
  margin: 20px;
  max-height: 600px;
  overflow-y: auto;
}

.subsection-container:first-of-type {
  padding-top: 0;
  border-top: 0;
}
.subsection-container:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
}
.subsection-container {
  padding: 0.75em 0;
  border-bottom: 1px solid rgb(199, 199, 199);
  border-top: 1px solid rgb(231, 231, 231);
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}

.subsection-main-info {
  display: flex;
  flex-direction: row;
}
.subsection-details {
  margin-top: 0.75em;
  background-color: rgb(235, 235, 235);
  padding: 0.75em;
  font-style: italic;
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px inset,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}
.subsection-subheading {
  margin-bottom: 0.5em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  text-decoration: underline;
}

.section-form,
.section-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-content svg {
  color: rgba(0, 0, 0, 0.4);
}

.section-form {
  grid-column: 1 / 3;
  grid-row: 1;
  gap: 10px;
}

.input-group {
  display: flex;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.input-group,
.input-icon {
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
}

.input-icon,
.section-form input,
.section-form textarea,
.subsection-container button {
  padding: 1em;
}

.section-form textarea {
  flex: 1;
  width: 100%;
  min-height: calc(1.15 * 5em + 2em);
}

.input-icon {
  border-right: 1px solid #e5e5e5;
  border-radius: 5px 0 0 5px;
  background-color: #f1f1f1;
  color: rgba(0, 0, 0, 0.4);
}

.section-form input,
.section-form textarea {
  width: 100%;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #f9f9f9;
}

.section-form input:focus,
.section-form textarea:focus {
  border-color: #bd8200;
  outline: 0;
}

.input-group:has(input:focus),
.input-group:has(textarea:focus) {
  border-color: #bd8200;
  outline: 0;
}
.input-group:has(input:focus) .input-icon,
.input-group:has(textarea:focus) .input-icon {
  border-color: #bd8200;
  color: #f0a500;
}

.section-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.duty-list {
  padding-left: 20px;
}

.add-button {
  width: 100%;
  margin-top: 20px;
  padding: 1em;
  border: transparent;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.form-button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 10px;

  .submit-button,
  .delete-button {
    width: 100%;
    border: transparent;
    border-radius: 5px;
    color: white;
  }
  .submit-button {
    grid-column: 1 / 3;
    background-color: rgb(65, 129, 197);
  }
  .submit-button:has(+ .delete-button) {
    grid-column: 1 / 2;
  }
  .delete-button {
    grid-column: 2 / 3;
    background-color: rgb(199, 68, 68);
  }
}

.output-button-group {
  display: flex;
  flex-direction: row;
  width: max-content;

  .edit-button,
  .delete-button,
  .show-details-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin: auto;
    border: transparent;
    background-color: transparent;
    font-size: 0;
    transition: 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
}

.subsection-container:hover .output-button-group * {
  font-size: 1em;
  color: #717171;
}

input[type='date']:invalid {
  color: #717171;
}

.output-group {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 20px;

  button.load-example-data,
  button.clear-all-data {
    width: fit-content;
    padding: 1em;
    border: transparent;
    border-radius: 5px;
    background-color: black;
    color: white;
  }
}
